@import "abstracts/variables";

.general-dialog-backdrop {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.91);
}

.general-box {
  .mat-dialog-container {
    padding: 16px;
    position: relative;
  }
}
