@import "abstracts/variables";

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &-header {
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-text {
        font-size: $h3-font-size;
      }
    }
  }

  &-actions {
    justify-self: flex-end;
    margin-top: $base-margin;
  }
}
