.card {
  height: 100%;
  box-sizing: border-box;

  &-header {
    display: flex;
    justify-content: center;
  }

  &-content {
    max-height: 236px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
