<div class="page">
  <app-add [items]="categories$ | async"
           [pageType]="pageTypes.CATEGORY"
           (create)="onInitDialog(dialogTypes.CREATE, emptyCategory)"
  ></app-add>
  <div class="page-container" *ngIf="categories$ | async as categories">
    <div class="page-container-card" *ngFor="let category of categories">
      <app-card (click)="goToCategoryDetails(category.id)">
        <ng-container ngProjectAs="title">{{category.title}}</ng-container>
        <ng-container ngProjectAs="content">
          <div class="description">{{category.description}}</div>
        </ng-container>
        <ng-container ngProjectAs="actions">
          <div class="page-container-card-actions">
            <button mat-mini-fab
                    color="primary"
                    appStopPropagation
                    [matTooltip]="('update' | translate: {value: ''})"
                    matTooltipClass="tooltip-bg-btn"
                    (click)="onInitDialog(dialogTypes.UPDATE, category)"
            >
              <fa-icon [icon]="icons.edit"></fa-icon>
            </button>
            <button mat-mini-fab
                    color="warn"
                    appStopPropagation
                    [matTooltip]="('delete' | translate: {value: ''})"
                    matTooltipClass="tooltip-bg-btn"
                    (click)="onInitDialog(dialogTypes.DELETE, category)"
            >
              <fa-icon [icon]="icons.delete"></fa-icon>
            </button>
          </div>
        </ng-container>
      </app-card>
    </div>
  </div>
</div>
