@import "../../../../scss/abstracts/variables";
@import "../../../../scss/abstracts/mixins";

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &-header {
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-text {
        @include fontSize($h3-font-size);
      }
    }
  }

  &-actions {
    justify-self: flex-end;
    @include margin($base-margin, null, null, null)
  }

  .message {
    text-align: center;
    padding: $base-padding 0 $base-padding 0;
  }

  .message-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: 47%;

    }
  }
}
