@import 'abstracts/functions';

@mixin fontSize($value) {
  font-size: $value;
  font-size: convertToRem($value);
}

@mixin padding($top, $right, $bottom, $left) {
  padding: convertToRem($top) convertToRem($right) convertToRem($bottom) convertToRem($left)
}

@mixin margin($top, $right, $bottom, $left) {
  margin: convertToRem($top) convertToRem($right) convertToRem($bottom) convertToRem($left)
}

@mixin positionCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
