@import 'abstracts/mixins';

// Padding
$base-padding: 15px;
$xs-padding: 5px;
$sm-padding: 10px;
$lg-padding: 20px;
$xlg-padding: 25px;

// Margin
$base-margin: 15px;
$xs-margin: 5px;
$sm-margin: 10px;
$lg-margin: 20px;
$xlg-margin: 25px;

// Font-size
$base-font-size: 16px;
$h1-font-size: 40px;
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 24px;

// Font-weight
$light-font-weight: 300;
$base-font-weight: 400;
$bold-font-weight: 600;
$extra-bold-font-weight: 800;

// Colors
$white: #ffffff;
$dark: #212121;

// Component's sizes
$side-nav-width: 50px;
$card-content-max-height: 236px;

