// Padding
$base-padding: 15 / 16 * 1rem;
$xs-padding: 5 / 16 * 1rem;
$sm-padding: 10 / 16 * 1rem;
$lg-padding: 20 / 16 * 1rem;
$xlg-padding: 25 / 16 * 1rem;

// Margin
$base-margin: 15 / 16 * 1rem;
$xs-margin: 5 / 16 * 1rem;
$sm-margin: 10 / 16 * 1rem;
$lg-margin: 20 / 16 * 1rem;
$xlg-margin: 25 / 16 * 1rem;

// Font-size
$base-font-size: 16 / 16 * 1rem;
$h1-font-size: 40 / 16 * 1rem;
$h2-font-size: 36 / 16 * 1rem;
$h3-font-size: 28 / 16 * 1rem;
$h4-font-size: 24 / 16 * 1rem;

// Font-weight
$light-font-weight: 300;
$base-font-weight: 400;
$bold-font-weight: 600;
$extra-bold-font-weight: 800;

// Colors
$white: #ffffff;
$dark: #212121;

