<div class="page">
  <app-add [items]="projects$ | async"
           [pageType]="pageTypes.PROJECT"
           (create)="onInitDialog(dialogTypes.CREATE, emptyProjectForm)"
  ></app-add>
  <div class="page-container" *ngIf="projects$ | async as projects">
    <div class="page-container-card" *ngFor="let project of projects">
      <app-card>
        <ng-container ngProjectAs="title">{{project.title}}</ng-container>
        <ng-container ngProjectAs="content">
          <div class="description">{{project.description}}</div>
          <div class="square">{{'square' | translate}}: {{project.square}}m2</div>
          <ul class="address" *ngIf="project.address">
            {{'address' | translate}}
            <li *ngFor="let item of project.address | keyvalue: sortNull">
              {{item.key | translate}}: {{item.value}}
            </li>
          </ul>
        </ng-container>
        <ng-container ngProjectAs="actions">
          <div class="page-container-card-actions">
            <button mat-mini-fab
                    color="accent"
                    [matTooltip]="('archive' | translate: {value: ''})"
                    matTooltipClass="tooltip-bg-btn"
                    (click)="onInitDialog(dialogTypes.ARCHIVE, project)"
                    [disabled]="project.archived"
            >
              <fa-icon [icon]="icons.archive"></fa-icon>
            </button>
            <button mat-mini-fab
                    color="primary"
                    [matTooltip]="('update' | translate: {value: ''})"
                    matTooltipClass="tooltip-bg-btn"
                    (click)="onInitDialog(dialogTypes.UPDATE, project)"
                    [disabled]="project.archived"
            >
              <fa-icon [icon]="icons.edit"></fa-icon>
            </button>
            <button mat-mini-fab
                    color="warn"
                    [matTooltip]="('delete' | translate: {value: ''})"
                    matTooltipClass="tooltip-bg-btn"
                    (click)="onInitDialog(dialogTypes.DELETE, project)"
            >
              <fa-icon [icon]="icons.delete"></fa-icon>
            </button>
          </div>
        </ng-container>
      </app-card>
    </div>
  </div>
</div>
