<div class="page-button" *ngIf="items && items?.length" [@EnterLeaveRight]>
  <button mat-fab
          color="primary"
          [matTooltip]="('add' | translate: {value: (pageType | translate).toLowerCase()})"
          matTooltipClass="tooltip-bg-btn"
          [matTooltipPosition]="'left'"
          (click)="onCreate()"
  >
    <fa-icon [size]="'lg'" [icon]="icons.create"></fa-icon>
  </button>
</div>
<div class="page-container" *ngIf="items && !items?.length">
  <div class="page-container-card">
    <app-card>
      <ng-container ngProjectAs="title">{{ ('add' | translate: {value: (pageType | translate).toLowerCase()}) }}</ng-container>
      <ng-container ngProjectAs="content">
        <button mat-fab
                color="primary"
                class="card-content-btn"
                (click)="onCreate()"
        >
          <fa-icon [size]="'lg'" [icon]="icons.create"></fa-icon>
        </button>
      </ng-container>
    </app-card>
  </div>
</div>
