@import "themes/theme";
@import "base/base";
@import "base/typography";
@import "layout/page";
@import "components/tooltip";
@import "components/buttons";
@import "components/modal-dialog";
@import "components/fields";
@import "components/accordion";

body {
  height: 100vh;
  margin: 0;
  background-image: url("https://www.bhmpics.com/walls/blasphemy_abstract-wide.jpg");
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
